body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f1f1;
}

p {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

header {
  width: 100%;
  height: 105px;
  background-color: #262626;
}
header .header-item {
  color: #a0a0a0;
  font-size: 18px;
  text-decoration: none;
  width: 300px;
  transition: all .3s;
}
header .header-item:nth-child(1) {
  border-bottom: 5px solid #7EBF00;
}
header .header-item:nth-child(1):hover {
  background-color: #7EBF00;
  color: white;
}
header .header-item:nth-child(2) {
  border-bottom: 5px solid #FF9F3C;
}
header .header-item:nth-child(2):hover {
  background-color: #FF9F3C;
  color: white;
}
header .header-item:nth-child(3) {
  border-bottom: 5px solid #9C56B8;
}
header .header-item:nth-child(3):hover {
  background-color: #9C56B8;
  color: white;
}
header .header-item:nth-child(4) {
  border-bottom: 5px solid #DE57A1;
}
header .header-item:nth-child(4):hover {
  background-color: #DE57A1;
  color: white;
}
header .header-item:nth-child(5) {
  border-bottom: 5px solid #F06E5A;
}
header .header-item:nth-child(5):hover {
  background-color: #F06E5A;
  color: white;
}
header .header-item:nth-child(6) {
  border-bottom: 5px solid #FF9F3C;
}
header .header-item:nth-child(6):hover {
  background-color: #FF9F3C;
  color: white;
}
header .header-item:nth-child(7) {
  border-bottom: 5px solid #9C56B8;
}
header .header-item:nth-child(7):hover {
  background-color: #9C56B8;
  color: white;
}
header .header-item:nth-child(8) {
  border-bottom: 5px solid #DE57A1;
}
header .header-item:nth-child(8):hover {
  background-color: #DE57A1;
  color: white;
}
header .header-item:nth-child(9) {
  border-bottom: 5px solid #7EBF00;
}
header .header-item:nth-child(9):hover {
  background-color: #7EBF00;
  color: white;
}

.list {
  padding: 45px 0;
}
.list-item {
  height: 445px;
  background-color: white;
  padding: 0px 0px 26px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: #dddddd 1px 1px 8px 1px;
  background-color: white;
  overflow: hidden;
}
.list-item h2 {
  font-size: 21px;
  color: #000000;
}
.list-item:hover .list-button {
  background-color: #ff3f55;
  color: white;
}
.list-img {
  position: relative;
  height: 219px;
  text-align: center;
}
.list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list-img span {
  position: absolute;
  bottom: 0;
  background-color: #FF3F55;
  padding: 4px 25px;
  font-size: 20px;
  color: whitesmoke;
  border-radius: 3px;
  left: 0;
}
.list-detail {
  padding: 32px 0px;
  color: #525252;
}
.list-detail .owner {
  padding: 20px 0;
  padding-top: 9px;
}
.list-detail .owner .image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.list-detail .owner .image img {
  border-radius: 100%;
}
.list-detail .owner p {
  padding-left: 10px;
  font-size: 15px;
}
.list-button {
  background-color: #ffffff;
  width: max-content;
  padding: 8px 44px;
  border-radius: 25px;
  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 1.5px;
  border: 1px solid #e8e8e8;
  font-weight: 600;
  color: #ff3f55;
  transition: all 0.5s;
}
.list-location {
  font-size: 15px;
}
.list-location i {
  color: #ff3f55;
  font-size: 13px;
}
.list-filter select {
  width: 194px;
  height: 46px;
  text-indent: 8px;
  border-radius: 4px;
  border: 1px solid #dfdddd;
  box-shadow: #dddddd 1px 1px 8px 1px;
  cursor: pointer;
  outline: 0;
}

.detail-left {
  border-right: 1px solid #e0e0e0;
}
.detail .images {
  margin-bottom: 20px;
}
.detail .images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.detail .thumbs-item {
  width: 150px;
  margin-right: 20px;
}
.detail .thumbs-item:last-child {
  margin-right: 0;
}
.detail-wrp h1 {
  font-size: 28px;
}
.detail-wrp h2 {
  font-size: 40px;
  color: #ff3f55;
  padding: 10px 0;
}
.detail-wrp h3 {
  font-size: 20px;
}
.detail-wrp .area-wrp {
  color: #f1f1f1;
}
.detail-wrp .area-wrp p {
  padding-bottom: 7px;
  display: inline-block;
  background-color: #ff3f55;
  padding: 5px 13px;
  margin-bottom: 10px;
  color: whitesmoke;
  font-size: 15px;
}
.detail-wrp .area-button {
  background-color: #b4ea4c;
  padding: 13px 28px;
  border-radius: 5px;
  transition: all 0.3s;
  font-size: 15px;
  outline: 0;
  margin-top: 23px;
  margin-left: -1px;
  color: #444444;
  transition: all 0.3s;
  display: block;
  width: max-content;
}
.detail-wrp .area-button:hover {
  background-color: #c4f566;
}
.detail-wrp .info {
  margin-top: 25px;
}
.detail-wrp .info-item h4 {
  font-size: 15px;
  color: #494949;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 0;
}
.detail .social {
  justify-content: space-evenly;
  width: 145px;
  margin: 0 auto;
}
.detail .buttons a {
  width: 50%;
  padding: 5px;
  border-radius: 3px;
  background-color: #e2e2e2;
  font-size: 17px !important;
  outline: 0;
  border: 1px solid #dadada;
  margin: 0 auto;
  margin-bottom: 10px;
}
.detail .owner img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.detail .owner h2 {
  font-size: 20px;
}
.detail .owner a {
  font-size: 20px;
  color: #212529;
}
.detail .owner a i {
  font-size: 15px;
}
.detail .owner i {
  font-size: 20px;
  color: #52565a;
}
.detail-title {
  margin-bottom: 30px;
}
.detail-title h2 {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 8px;
  color: #404040;
  font-size: 20px;
}
.detail-title__text {
  font-size: 15px;
  line-height: 1.7;
  color: #616161;
}
.detail-title.comments .comments-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e5e5;
}
.detail-title.comments .user h4 {
  font-size: 13px;
}
.detail-title.comments .user p {
  font-size: 12px;
}
.detail-title.comments .text {
  font-size: 15px;
  line-height: 1.7;
  color: #616161;
}

.modal-body select {
  width: 100%;
  height: 46px;
  text-indent: 8px;
  border-radius: 4px;
  border: 1px solid #dfdddd;
  box-shadow: #dddddd 1px 1px 8px 1px;
  cursor: pointer;
  outline: 0;
}
.modal-body .products img {
  width: 150px;
}
.modal-body .products h1 {
  color: #696868;
}
.modal-body .products p {
  font-size: 30px;
  color: #ff3f55;
  border-bottom: 1px solid #d6d4d4;
  padding-bottom: 4px;
  margin-bottom: 10px;
}
.modal-body .price h2 {
  font-size: 14px;
  padding: 0;
  color: #8e8e8e;
}
.modal-body .price p {
  font-size: 23px;
  border: 0;
  margin: 0;
  padding: 0;
  color: #464545;
}
.modal-body .price.active {
  display: block;
}
